.head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.head .start {
  margin: 0 auto;
}

.head .login:last-child {
  margin-left: 10px;
}

.head .start, .head .login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.head .start span, .head .login span {
  background: orange;
  border: 1px solid green;
  padding: 5px 10px;
  color: #fff;
  font-size: 1.5rem;
}

.head .start span:hover, .head .login span:hover {
  cursor: pointer;
}

.field {
  width: 300px;
  background: lightgrey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.field .cell {
  width: 100px;
  height: 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid black;
  text-align: center;
  position: relative;
}

.field .cell.zero:before {
  content: 'O';
  font-size: 85px;
  color: red;
}

.field .cell.cross:before {
  content: ' ';
  width: 4px;
  height: 95px;
  background: red;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  border-radius: 5px;
}

.field .cell.cross:after {
  content: ' ';
  width: 4px;
  height: 95px;
  background: red;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: absolute;
  border-radius: 5px;
}

.scopes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.scopes .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid green;
}

.scopes .column div {
  padding: 10px;
  background: orange;
  color: white;
  font-size: 1.2rem;
  text-align: center;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 10px;
}

.popup {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: orange;
  border: 1px solid green;
  padding: 20px 30px;
  color: white;
  font-size: 1.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.popup .content .head {
  margin-bottom: 20px;
  text-transform: uppercase;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popup .content .body {
  text-align: center;
}

.popup .content .body input {
  background: none;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: green;
  font-size: 1.2rem;
}

.popup .content .body input:focus {
  outline: none;
}

.popup .content .body form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.popup .content .body form label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.popup .content .body form label input {
  margin-left: 20px;
}

.popup .content .cross {
  position: absolute;
  top: 0;
  right: 12px;
}

.popup .content .cross:before {
  content: ' ';
  width: 2px;
  height: 20px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background: white;
  position: absolute;
}

.popup .content .cross:after {
  content: ' ';
  width: 2px;
  height: 20px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background: white;
  position: absolute;
}

.popup .content .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
}

.popup .content .button span {
  border: 1px solid green;
  padding: 5px;
  text-transform: uppercase;
  font-size: .8rem;
}

.popup .content .button span:hover {
  cursor: pointer;
}
/*# sourceMappingURL=cross.css.map */